.downloads-body {
    background-color: antiquewhite;
}

.uploads-body {
  background-color: #fdf6f0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.upload-section {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 60px auto;
}

.upload-section h2 {
  font-weight: 500;
  color: #2a5298;
}


.input-group-text {
  background-color: #6c1a1a;
  color: #fff;
  border-radius: 5px;
  padding: 25px;
}

.custom-upload-label {
  background-color: #2a5298;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px !important;
  font-size: 16px;
}

.custom-file-label {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar-light .navbar-brand {
  font-weight: 600;
  color: #2a5298;
}

.no-download {
    text-align: center;
    margin-top: 300px;
}

.resource-container {
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 8px;
    padding: 15px;
}

a:link {
    color: blue;
}
a:visited {
    color: purple;
}

.card-image img {
    height: 200px;
}

.book-description {
    line-height: 2px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}